@import "leaflet/dist/leaflet.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
}

.app-container {
  max-width: 1100px;
  margin: 24px auto;
  padding: 0 16px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: wrap;
}
